*{
    font-size: 20px;
    box-sizing: border-box;
}

body{
    font-style: italic;
    
}

h1{
    font-size: 40px;
    text-align: center;
    color: aqua;
}
p{
    font-size: 20px;
    line-height:1.5;
}
h2{
    background-color: cadetblue;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
h3{
    font-weight: bold;
    color: brown;
    font-size: 20px;
}
li{
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
}

a{
    color: darkmagenta;
    text-decoration: none;
    font-size: 20px;
}
button{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
}

h1 h2{
    font-family: sans-serif;
    color: blueviolet;

}

h1 h2 h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.para{
    background-color: blueviolet;
    color: white;
    padding: 15px;
    margin: 10px;
}

.disc{
    font-size:25px;
    color: blue;
}

#heading{
    font-family: sans-serif;
}

#btn{
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}

